@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Museo300';
  color: #2D2A2B;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased; }

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #2D2A2B;
  background-color: #FFCB05; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #2D2A2B;
  background-color: #FFCB05; }

::-moz-selection {
  color: #2D2A2B;
  background-color: #FFCB05; }

::selection {
  color: #2D2A2B;
  background-color: #FFCB05; }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer; }

a {
  color: #00BFF3; }

button {
  border: transparent;
  background: none; }

option {
  color: #2D2A2B; }

input,
textarea,
select {
  color: #2D2A2B;
  font-family: 'Museo500';
  font-size: 14px;
  padding: 8px 30px;
  background: none; }

input,
select {
  border: none;
  border-bottom: 1px solid #000; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #2D2A2B; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #2D2A2B; }

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #2D2A2B; }

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #2D2A2B; }

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #2D2A2B;
  border-bottom: 1px solid #FFCB05;
  border-color: #39B563;
  outline: none; }

.shd,
button:active {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }
  .shd .shd:hover,
  button:active .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }

@-webkit-keyframes brr {
  0% {
    color: #000; }
  33% {
    background-color: #50B848;
    color: #000; }
  66% {
    background-color: #00BFF3;
    color: #000; }
  80% {
    background-color: #EE337B;
    color: #000; }
  100% {
    background-color: #FFCB05;
    color: #000; } }

@keyframes brr {
  0% {
    color: #000; }
  33% {
    background-color: #50B848;
    color: #000; }
  66% {
    background-color: #00BFF3;
    color: #000; }
  80% {
    background-color: #EE337B;
    color: #000; }
  100% {
    background-color: #FFCB05;
    color: #000; } }

.btn {
  outline: none;
  font-size: 14px;
  font-family: 'Museo700';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  color: #000;
  background-color: #FFCB05;
  position: relative;
  display: block;
  max-width: 320px; }
  .btn:hover {
    -webkit-animation: brr linear 5s infinite;
            animation: brr linear 5s infinite; }

.list_circle {
  list-style-type: none;
  padding-left: 0; }
  .list_circle li {
    padding-left: 25px;
    position: relative; }
    .list_circle li {
      margin-bottom: 10px; }
    .list_circle li::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #EE414F;
      left: 0;
      top: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.popup__container {
  padding: 40px;
  background-color: transparent; }
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #000; }
  .popup__container .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .popup__container .popup__wrp::before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      z-index: 1;
      background: #ffcb05;
      background: -webkit-linear-gradient(-45deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      background: -webkit-linear-gradient(315deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      background: -o-linear-gradient(315deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      background: linear-gradient(135deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb05', endColorstr='#ee337b',GradientType=1 );
      opacity: .7; }
  .popup__container .popup_call__wrp {
    max-width: 320px; }
    .popup__container .popup_call__wrp .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background-color: #fff;
      color: #2D2A2B;
      padding: 20px 25px 30px;
      text-align: center; }
      .popup__container .popup_call__wrp .popup__ttl {
        font-family: 'Museo900', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px; }
      .popup__container .popup_call__wrp .popup .form__input {
        color: #2D2A2B;
        margin-bottom: 15px; }
      .popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input::placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup .btn {
        width: 100%;
        margin-bottom: 15px; }
    .popup__container .popup_call__wrp__policy {
      margin-top: 15px;
      max-width: 230px;
      text-align: center;
      font-size: 12px; }
      .popup__container .popup_call__wrp__policy a {
        font-size: 12px;
        color: #00BFF3; }

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0; }
  .owl-carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: transparent;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .owl-carousel .owl-dots button.owl-dot:not(:last-child) {
      margin-right: 13px; }
    .owl-carousel .owl-dots button.owl-dot.active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      border-color: transparent;
      background-color: #FFCB05; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  border: 1px solid #000;
  padding: 10px !important; }

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff;
  border-color: #fff; }

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: .4;
  background-color: transparent;
  border-color: #000;
  cursor: default; }

.owl-carousel .owl-nav button.owl-prev {
  left: 0; }

.owl-carousel .owl-nav button.owl-next {
  right: 0; }

.section_inner {
  padding: 60px 0; }

.section__ttl {
  font-size: 40px;
  color: #2D2A2B;
  font-family: 'Museo900';
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase; }

.input__wrp {
  position: relative;
  max-width: 230px; }
  .input__wrp input,
  .input__wrp select {
    width: 100%;
    padding-left: 35px; }
  .input__wrp::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 8px;
    width: 12px;
    height: 17px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
  .input__wrp_name:before {
    background-image: url(../img/icon__form-name.png); }
  .input__wrp_mail:before {
    background-image: url(../img/icon__form-mes.png);
    top: 8px; }
  .input__wrp_tel:before {
    background-image: url(../img/icon__form-tel.png);
    top: 8px; }
  .input__wrp:not(:last-child) {
    margin-bottom: 15px; }

.header {
  padding: 30px 0; }
  .header__item {
    position: relative;
    padding-left: 25px;
    font-size: 13px; }
    .header__item::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 16px;
      height: 17px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .header__item_geo::before {
      background-image: url(../img/icon__geo.png); }
    .header__item_time::before {
      background-image: url(../img/icon__time.png); }
    .header__item_mes::before {
      background-image: url(../img/icon__mes.png); }
    .header__item_mes a {
      text-decoration: underline; }
  .header .main-logo {
    color: #2D2A2B; }
    .header .main-logo:hover {
      -webkit-transform: scale(1.04);
          -ms-transform: scale(1.04);
              transform: scale(1.04);
      opacity: .8; }
    .header .main-logo span:nth-child(1) {
      font-family: 'Museo700';
      font-size: 26px;
      line-height: .9; }
    .header .main-logo span:nth-child(2) {
      font-size: 12px; }
    .header .main-logo__img {
      margin-right: 10px;
      width: 72px;
      height: 72px; }
  .header__tel {
    font-family: 'Museo700';
    color: #2D2A2B;
    font-size: 29px; }

.running-string__wrp {
  background-color: #00BFF3;
  padding: 15px 0; }

.running-string__item {
  word-wrap: normal;
  color: #fff;
  font-family: 'Museo500'; }

.main-nav {
  background-color: #E5E5E5; }
  .main-nav__item-wrp {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 190px;
    padding: 25px; }
  .main-nav__item-img {
    width: 100%;
    margin-bottom: 36px; }
    .main-nav__item-img::before {
      content: '';
      position: absolute;
      width: 160px;
      height: 145px;
      left: 15px;
      top: 0;
      right: 15px; }
    .main-nav__item-img div {
      width: 100%;
      height: 90px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      z-index: 2; }
  .main-nav__item-ttl {
    text-transform: uppercase;
    font-family: 'Museo700';
    text-align: center;
    color: #2D2A2B;
    position: relative;
    font-size: 13px; }
  .main-nav__item-wrp:nth-child(1) .main-nav__item-img::before {
    background-color: #00BFF3; }
  .main-nav__item-wrp:nth-child(2) .main-nav__item-img::before {
    background-color: #50B848; }
  .main-nav__item-wrp:nth-child(3) .main-nav__item-img::before {
    background-color: #FFC505; }
  .main-nav__item-wrp:nth-child(4) .main-nav__item-img::before {
    background-color: #EE337B; }
  .main-nav__item-wrp:nth-child(5) .main-nav__item-img::before {
    background-color: #00BFF3; }
  .main-nav__item-wrp:nth-child(6) .main-nav__item-img::before {
    background-color: #50B848; }
  .main-nav__item-wrp:hover .main-nav__item-img::before {
    height: 214px;
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }

.main-slider {
  color: #000; }
  .main-slider__container {
    padding-right: 80px;
    padding-left: 80px; }
  .main-slider__item {
    padding: 40px 0;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    min-height: 510px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-slider__ttl {
    font-family: 'Museo900';
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 30px;
    max-width: 470px; }
  .main-slider__subttl {
    font-family: 'Museo700';
    font-size: 24px;
    max-width: 470px; }
  .main-slider__list {
    margin: 20px 0;
    padding-left: 0;
    list-style-type: none;
    max-width: 470px;
    font-size: 16px; }
    .main-slider__list li {
      padding-left: 28px;
      position: relative; }
      .main-slider__list li:not(:last-child) {
        margin-bottom: 10px; }
      .main-slider__list li::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 1px;
        background-color: #000;
        left: 0;
        top: 8px; }
  .main-slider__descr {
    font-size: 16px; }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: 8%; }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: 8%; }
  .main-slider .owl-carousel .owl-dots {
    bottom: 12px; }
    .main-slider .owl-carousel .owl-dots button.owl-dot.active {
      background-color: #fff; }
  .main-slider__descr {
    max-width: 470px; }

.news .section__subttl {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: -20px; }

.news__item {
  width: 100%;
  min-height: 230px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  position: relative;
  overflow: hidden; }
  .news__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: .4; }
  .news__item-date {
    position: relative;
    padding-left: 25px;
    font-size: 13px;
    color: #000;
    font-family: 'Museo500';
    position: relative;
    z-index: 2;
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease; }
    .news__item-date::before, .news__item-date::after {
      content: '';
      position: absolute;
      left: 0px;
      top: -1px;
      width: 16px;
      height: 17px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .news__item-date::before {
      background-image: url(../img/icon__date.png); }
    .news__item-date::after {
      opacity: 0;
      background-image: url(../img/icon__date_white.png); }
  .news__item-descr {
    position: relative;
    font-family: 'Museo500';
    color: #fff; }
    .news__item-descr::before {
      content: '';
      position: absolute;
      width: 130%;
      height: 230%;
      left: -20px;
      right: -20px;
      top: -19px;
      bottom: 0;
      opacity: .8;
      -webkit-transition: .6s all ease;
      -o-transition: .6s all ease;
      transition: .6s all ease; }
    .news__item-descr span {
      position: relative; }
  .news__item-wrp:nth-child(1) .news__item-descr::before {
    background-color: #50B848; }
  .news__item-wrp:nth-child(2) .news__item-descr::before {
    background-color: #EE337B; }
  .news__item-wrp:nth-child(3) .news__item-descr::before {
    background-color: #00BFF3; }
  .news__item-wrp:nth-child(4) .news__item-descr::before {
    background-color: #FFCB05; }
  .news__item-wrp:nth-child(5) .news__item-descr::before {
    background-color: #50B848; }
  .news__item-wrp:nth-child(6) .news__item-descr::before {
    background-color: #EE337B; }
  .news__item-wrp:nth-child(4) .news__item-descr {
    color: #000; }
  .news__item-wrp:hover .news__item {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }
  .news__item-wrp:hover .news__item-descr::before {
    height: 370px;
    top: -205px; }
  .news__item-wrp:hover .news__item-date {
    color: #fff; }
  .news__item-wrp:hover .news__item-date::before {
    opacity: .0; }
  .news__item-wrp:hover .news__item-date::after {
    opacity: 1; }

.cost__ttl, .cost__price {
  font-size: 18px;
  color: #fff;
  font-family: 'Museo900';
  text-align: center;
  padding: 15px; }

.cost__ttl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  text-transform: uppercase; }

.cost__price {
  margin-top: auto; }

.cost__item {
  height: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  .cost__item-wrp:nth-child(1) .cost__ttl,
  .cost__item-wrp:nth-child(1) .cost__price {
    background-color: #00BFF3; }
  .cost__item-wrp:nth-child(2) .cost__ttl,
  .cost__item-wrp:nth-child(2) .cost__price {
    background-color: #50B848; }
  .cost__item-wrp:nth-child(3) .cost__ttl,
  .cost__item-wrp:nth-child(3) .cost__price {
    background-color: #EE337B; }
  .cost__item-wrp:nth-child(4) .cost__ttl,
  .cost__item-wrp:nth-child(4) .cost__price {
    background-color: #FFCB05;
    color: #000; }

.cost__quick-info {
  background-color: #F1F1F1;
  padding: 15px;
  font-size: 12px; }
  .cost__quick-info > *:not(:last-child) {
    display: block;
    margin-bottom: 4px; }

.cost__time, .cost__week {
  position: relative;
  padding-left: 22px;
  font-size: 13px; }
  .cost__time::before, .cost__week::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    width: 14px;
    height: 14px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }

.cost__time::before {
  background-image: url(../img/icon__time.png); }

.cost__week::before {
  background-image: url(../img/icon__date.png); }

.cost__list {
  list-style-type: none;
  padding: 15px;
  background-color: #F7F7F7;
  margin-bottom: 0; }
  .cost__list li {
    font-size: 13px;
    padding-left: 20px;
    position: relative; }
    .cost__list li {
      margin-bottom: 10px; }
    .cost__list li::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #EE414F;
      left: 0;
      top: 5px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.cost__item-wrp:nth-child(1) .cost__list li::before {
  background-color: #00BFF3; }

.cost__item-wrp:nth-child(2) .cost__list li::before {
  background-color: #50B848; }

.cost__item-wrp:nth-child(3) .cost__list li::before {
  background-color: #EE337B; }

.cost__item-wrp:nth-child(4) .cost__list li::before {
  background-color: #FFCB05; }

.var {
  background-color: #E5E5E5; }
  .var .section__ttl {
    text-transform: none; }
  .var__item-wrp {
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding: 8px;
    max-width: 250px;
    margin: 0 auto 15px; }
  .var__item-in {
    padding: 15px;
    color: #fff;
    font-family: 'Museo700';
    height: 100%;
    display: block; }
  .var__item-ttl {
    font-family: 'Museo900';
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative; }
    .var__item-ttl::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      bottom: -15px;
      left: 0; }
  .var__item-list-item:not(:last-child) {
    margin-bottom: 10px; }
  .var__item-wrp:nth-child(1) .var__item-in {
    background-color: #FFCB05a8;
    color: #000; }
  .var__item-wrp:nth-child(1) .var__item-ttl::after {
    background-color: #000; }
  .var__item-wrp:nth-child(2) .var__item-in {
    background-color: #50B848e3; }
  .var__item-wrp:nth-child(3) .var__item-in {
    background-color: #00BFF3e3; }
  .var__item-wrp:nth-child(4) .var__item-in {
    background-color: #EE337Be3; }
  .var__item-in:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: #fff; }

.avail {
  background-color: #E5E5E5; }
  .avail .section__ttl {
    text-transform: none; }
  .avail-table {
    width: 100%;
    text-align: center; }
    .avail-table__wrp {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto; }
    .avail-table td {
      padding: 10px 13px;
      border: 1px solid #fff;
      color: #000; }
    .avail-table th {
      padding: 10px 13px;
      border: 1px solid #fff;
      color: #fff; }
    .avail-table tr:first-child th {
      font-family: 'Museo900'; }
    .avail-table__wrp:nth-child(1) th {
      background-color: #FFCB05;
      color: #000; }
    .avail-table__wrp:nth-child(1) td {
      color: #000; }
    .avail-table__wrp:nth-child(2) th {
      background-color: #50B848; }
    .avail-table__wrp:nth-child(2) .neg {
      background-color: #50B8486e;
      color: #000; }
    .avail-table__wrp:nth-child(3) th,
    .avail-table__wrp:nth-child(3) .emp {
      background-color: #00BFF3; }
    .avail-table__wrp:nth-child(3) .neg {
      background-color: #00BFF36e; }
    .avail-table__wrp:nth-child(4) th {
      background-color: #EE337B; }
    .avail-table__wrp:nth-child(4) .neg {
      background-color: #EE337B6e; }

.team .section__ttl {
  font-size: 28px; }
  .team .section__ttl a {
    font-size: 14px;
    margin-left: 35px;
    letter-spacing: 0;
    font-family: 'Museo300';
    color: #2D2A2B;
    text-decoration: underline;
    text-transform: none;
    position: relative; }
    .team .section__ttl a::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #2D2A2B; }
    .team .section__ttl a:hover {
      opacity: .8; }

.team__cnt {
  padding-bottom: 30px; }
  .team__cnt .owl-stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.team__item {
  padding: 30px 15px;
  background-color: #FFCB05;
  position: relative;
  min-height: 260px;
  width: 210px;
  color: #fff; }
  .team__item_yellow {
    background-color: #FFCB05;
    color: #000; }
  .team__item_blue {
    background-color: #50B848; }
  .team__item_red {
    background-color: #00BFF3; }
  .team__item_green {
    background-color: #EE337B; }
  .team__item-img {
    width: 200px;
    height: 287px;
    background-position: left bottom;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -9px;
    bottom: 0; }
  .team__item-info {
    display: none; }
    .team__item-info-ttl {
      font-family: 'Museo900';
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 15px;
      margin-top: 30px; }
    .team__item-info-item:not(:last-child) {
      margin-bottom: 8px; }

.owl-item.center .team__item {
  padding-left: 200px;
  width: 460px; }

.owl-item.center .team__item-info {
  display: block; }

.feed {
  position: relative; }
  .feed::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: .8; }
  .feed__container {
    position: relative; }
  .feed__form {
    background-color: #FFCB05;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 45px 15px; }
    .feed__form .input__wrp {
      max-width: unset; }
    .feed__form .btn {
      margin-top: 30px;
      background-color: #fff; }
      .feed__form .btn:hover {
        -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
                box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }
  .feed .section__ttl {
    text-align: left;
    padding-left: 30px; }

.map {
  overflow: hidden;
  min-height: 440px; }
  .map__container {
    position: relative; }
  .map__in {
    position: absolute;
    left: 15px;
    top: 0;
    background-color: #00BFF3;
    padding: 45px 25px;
    color: #fff;
    min-width: 350px; }
    .map__in .section__ttl {
      text-align: left;
      color: #fff;
      margin-bottom: 25px;
      font-size: 35px; }
  .map__item:not(:last-child) {
    margin-bottom: 20px; }
  .map__item {
    padding-left: 25px; }
    .map__item-ttl {
      font-size: 16px;
      font-family: 'Museo900';
      text-transform: uppercase;
      position: relative;
      margin-bottom: 5px; }
      .map__item-ttl::before {
        content: '';
        position: absolute;
        left: -25px;
        top: 0;
        width: 16px;
        height: 17px;
        background-position: 50% 50%;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/icon__geo_white.png); }
    .map__item-descr {
      text-decoration: underline; }
  .map .btn:hover {
    -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
            box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }

.footer {
  background-color: #000000; }
  .footer .main-logo:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    opacity: .7; }
  .footer .main-logo img {
    max-width: 200px; }
  .footer__item {
    position: relative;
    padding-left: 25px;
    font-size: 13px;
    color: #fff; }
    .footer__item::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 16px;
      height: 17px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .footer__item_geo::before {
      background-image: url(../img/icon__geo_white.png); }
    .footer__item_time::before {
      background-image: url(../img/icon__time_white.png); }
    .footer__item_mes::before {
      background-image: url(../img/icon__mes_white.png); }
    .footer__item_mes a {
      color: #fff;
      text-decoration: underline; }
  .footer__tel {
    font-family: 'Museo700';
    color: #fff;
    font-size: 29px; }
  .footer__soc {
    width: 39px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
    margin: 5px; }
    .footer__soc:hover {
      background-color: #00BFF3;
      border-color: #00BFF3; }

.crumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 25px; }
  .crumbs li,
  .crumbs a {
    position: relative; }
  .crumbs li:not(:last-child) {
    margin-right: 26px;
    text-decoration: underline; }
    .crumbs li:not(:last-child)::after {
      content: '>';
      position: absolute;
      right: -16px;
      top: 0;
      font-size: 14px; }

.contacts__ttl {
  text-align: left; }

.contacts__item-wrp:not(:last-child) {
  margin-bottom: 30px; }

.contacts__info-item {
  position: relative;
  padding-left: 25px;
  font-size: 13px;
  margin-bottom: 18px; }
  .contacts__info-item::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 17px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
  .contacts__info-item_time::before {
    background-image: url(../img/icon__time.png); }
  .contacts__info-item_tel {
    font-size: 16px;
    font-family: 'Museo900';
    color: #000; }
  .contacts__info-item_tel::before {
    top: 3px;
    background-image: url(../img/icon__form-tel.png); }
  .contacts__info-item_mes::before {
    opacity: .7;
    background-image: url(../img/icon__form-mes.png); }
  .contacts__info-item_mes a {
    text-decoration: underline; }
  .contacts__info-item_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contacts__info-item_top span:nth-child(1) {
      font-size: 18px;
      font-family: 'Museo900';
      text-transform: uppercase;
      position: relative;
      margin-bottom: 5px;
      color: #00BFF3; }
    .contacts__info-item_top span:nth-child(2) {
      font-size: 16px;
      text-decoration: underline; }
    .contacts__info-item_top::before {
      top: 3px;
      background-image: url(../img/icon__geo.png); }

.contacts__map iframe {
  border: 1px solid #ccc; }

@media screen and (max-width: 1070px) {
  .main-slider__item {
    background-position-x: 20%; }
  .main-slider__container {
    padding-right: 30px;
    padding-left: 30px; }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: 0; }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: 0; } }

@media screen and (max-width: 768px) {
  .section__ttl,
  .main-slider__ttl {
    font-size: 25px; } }

@media screen and (max-width: 576px) {
  .news__item-wrp {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); } }
