@font-face {
    font-family: 'MuseoIt500';
    src: url('MuseoSansCyrl-500Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-500Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoIt700';
    src: url('MuseoSansCyrl-700Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-700Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Museo500';
    src: url('MuseoSansCyrl-500.woff2') format('woff2'),
        url('MuseoSansCyrl-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoIt100';
    src: url('MuseoSansCyrl-100Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-100Italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Museo900';
    src: url('MuseoSansCyrl-900.woff2') format('woff2'),
        url('MuseoSansCyrl-900.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700';
    src: url('MuseoSansCyrl-700.woff2') format('woff2'),
        url('MuseoSansCyrl-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300';
    src: url('MuseoSansCyrl-300.woff2') format('woff2'),
        url('MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo100';
    src: url('MuseoSansCyrl-100.woff2') format('woff2'),
        url('MuseoSansCyrl-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoIt900';
    src: url('MuseoSansCyrl-900Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-900Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoIt300';
    src: url('MuseoSansCyrl-300Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-300Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

