@import "../fonts/fonts.css"

body
	scroll-behavior: smooth
	background-color: #fff
	font-family: 'Museo300'
	color: #2D2A2B
	font-size: 14px
	line-height: 1.4
	position: relative
	-webkit-font-smoothing: antialiased
*,
*:after,
*:before
	transition: .3s all ease
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color            : #2D2A2B
	background-color : #FFCB05
::selection
	color            : #2D2A2B
	background-color : #FFCB05
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: #00BFF3
button
	border: transparent
	background: none
option
	color: #2D2A2B
textarea
	resize:none
input,
textarea,
select
	color: #2D2A2B
	font-family: 'Museo500'
	font-size: 14px
	padding: 8px 30px
	background: none
input,
select
	border: none
	border-bottom: 1px solid #000
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder
	color: #2D2A2B
input:focus,
textarea:focus,
input:active,
textarea:active
	background: none
	color: #2D2A2B
	border-bottom: 1px solid #FFCB05
	border-color: #39B563
	outline: none
.shd,
button:active
	box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64)
	.shd:hover
		box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69)
@keyframes brr
	0%
		color: #000
	33%
		background-color: #50B848
		color: #000
	66%
		background-color: #00BFF3
		color: #000
	80%
		background-color: #EE337B
		color: #000
	100%
		background-color: #FFCB05
		color: #000
.btn
	outline: none
	font-size: 14px
	font-family: 'Museo700'
	text-transform: uppercase
	text-align: center
	padding: 15px 30px
	color: #000
	background-color: #FFCB05
	position: relative
	display: block
	max-width: 320px
	&:hover
		animation: brr linear 5s infinite
.list_circle
	list-style-type: none
	padding-left: 0
	li
		padding-left: 25px
		position: relative
		&
			margin-bottom: 10px
		&::before
			content: ''
			position: absolute
			width: 8px
			height: 8px
			background-color: #EE414F
			left: 0
			top: 8px
			border-radius: 50%
.popup__container
	padding: 40px
	background-color: transparent
	.fancybox-close-small
		top: 40px
		right: 40px
		color: #000
	.popup__wrp
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-flex-wrap: wrap
		-moz-flex-wrap: wrap
		-ms-flex-wrap: wrap
		-o-flex-wrap: wrap
		flex-wrap: wrap
		-ms-align-items: center
		align-items: center
		justify-content: center
		position: relative
		&::before
			z-index: 1
			content: ''
			position: absolute
			height: 110%
			width: 110%
			top: -5%
			right: -5%
			bottom: -5%
			left: -5%
			z-index: 1
			background: rgb(255,203,5)
			background: -moz-linear-gradient(-45deg, rgba(255,203,5,1) 0%, rgba(80,184,72,1) 32%, rgba(0,191,243,1) 70%, rgba(238,51,123,1) 100%)
			background: -webkit-linear-gradient(-45deg, rgba(255,203,5,1) 0%,rgba(80,184,72,1) 32%,rgba(0,191,243,1) 70%,rgba(238,51,123,1) 100%)
			background: linear-gradient(135deg, rgba(255,203,5,1) 0%,rgba(80,184,72,1) 32%,rgba(0,191,243,1) 70%,rgba(238,51,123,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb05', endColorstr='#ee337b',GradientType=1 )
			opacity: .7
	.popup_call__wrp
		max-width: 320px
		.popup
			width: 100%
			height: 100%
			position: relative
			z-index: 2
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			-webkit-flex-direction: column
			-moz-flex-direction: column
			-ms-flex-direction: column
			-o-flex-direction: column
			flex-direction: column
			-ms-align-items: center
			align-items: center
			justify-content: flex-start
			background-color: #fff
			color: #2D2A2B
			padding: 20px 25px 30px
			text-align: center
			&__ttl
				font-family: 'Museo900', sans-serif
				text-transform: uppercase
				font-size: 22px
				margin-bottom: 30px
			.form__input
				color: #2D2A2B
				margin-bottom: 15px
			input.form__input::placeholder
				color: #2D2A2B
			.btn
				width: 100%
				margin-bottom: 15px
		&__policy
			margin-top: 15px
			max-width: 230px
			text-align: center
			font-size: 12px
			a
				font-size: 12px 
				color: #00BFF3
.owl-carousel
	.owl-dots
		position: absolute
		width: 100%
		display: flex
		justify-content: center
		bottom: 0
		button.owl-dot
			width: 15px
			height: 15px
			border: 1px solid #333
			background-color: transparent
			position: relative
			transform: scale(1)
			&:not(:last-child)
				margin-right: 13px
			&.active
				transform: scale(0.9)
				border-color: transparent
				background-color: #FFCB05
	.owl-nav
		button.owl-prev,
		button.owl-next
			position: absolute
			bottom: 50%
			margin-bottom: -25.5px
			border: 1px solid #000
			padding: 10px !important
		button.owl-prev:hover,
		button.owl-next:hover
			background-color: #fff
			border-color: #fff
		button.owl-prev.disabled,
		button.owl-next.disabled,
		button.owl-prev.disabled:hover,
		button.owl-next.disabled:hover
			opacity: .4
			background-color: transparent
			border-color: #000
			cursor: default
			
		button.owl-prev
			left: 0
		button.owl-next
			right: 0
.section_inner
	padding: 60px 0
.section__ttl
	font-size: 40px
	color: #2D2A2B
	font-family: 'Museo900'
	letter-spacing: 2px
	margin-bottom: 45px
	text-align: center
	text-transform: uppercase
.input__wrp
	position: relative
	max-width: 230px
	input,
	select
		width: 100%
		padding-left: 35px
	&::before
		content: ''
		position: absolute
		left: 10px
		top: 8px
		width: 12px
		height: 17px
		background-position: 50% 50%
		background-size: contain
		background-repeat: no-repeat
	&_name:before
		background-image: url(../img/icon__form-name.png)
	&_mail:before
		background-image: url(../img/icon__form-mes.png)
		top: 8px
	&_tel:before
		background-image: url(../img/icon__form-tel.png)
		top: 8px
	&:not(:last-child)
		margin-bottom: 15px
.header
	padding: 30px 0
	&__item
		position: relative
		padding-left: 25px
		font-size: 13px
		&::before
			content: ''
			position: absolute
			left: 0px
			top: 0px
			width: 16px
			height: 17px
			background-position: 50% 50%
			background-size: contain
			background-repeat: no-repeat
		&_geo::before
			background-image: url(../img/icon__geo.png)
		&_time::before
			background-image: url(../img/icon__time.png)
		&_mes::before
			background-image: url(../img/icon__mes.png)
		&_mes
			a
				text-decoration: underline
				
	.main-logo
		color: #2D2A2B
		&:hover
			transform: scale(1.04)
			opacity: .8
		span:nth-child(1)
			font-family: 'Museo700'
			font-size: 26px
			line-height: .9
		span:nth-child(2)
			font-size: 12px
		&__img
			margin-right: 10px
			width: 72px
			height: 72px
	&__tel
		font-family: 'Museo700'
		color: #2D2A2B
		font-size: 29px
.running-string
	&__wrp
		background-color: #00BFF3
		padding: 15px 0
	&__item
		word-wrap: normal
		color: #fff
		font-family: 'Museo500'
.main-nav
	background-color: #E5E5E5
	&__item
		&-wrp
			position: relative
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-start
			max-width: 190px
			padding: 25px
		&-img
			width: 100%
			margin-bottom: 36px
			&::before
				content: ''
				position: absolute
				width: 160px
				height: 145px
				left: 15px
				top: 0
				right: 15px
			div
				width: 100%
				height: 90px
				background-position: 50% 50%
				background-size: contain
				background-repeat: no-repeat
				position: relative
				z-index: 2
		&-ttl
			text-transform: uppercase
			font-family: 'Museo700'
			text-align: center
			color: #2D2A2B
			position: relative
			font-size: 13px
		&-wrp:nth-child(1)
			.main-nav__item-img::before
				background-color: #00BFF3
		&-wrp:nth-child(2)
			.main-nav__item-img::before
				background-color: #50B848
		&-wrp:nth-child(3)
			.main-nav__item-img::before
				background-color: #FFC505
		&-wrp:nth-child(4)
			.main-nav__item-img::before
				background-color: #EE337B
		&-wrp:nth-child(5)
			.main-nav__item-img::before
				background-color: #00BFF3
		&-wrp:nth-child(6)
			.main-nav__item-img::before
				background-color: #50B848
	&__item-wrp:hover .main-nav__item-img::before
			height: 214px
			box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69)
.main-slider
	color: #000
	&__container
		padding-right: 80px
		padding-left: 80px
	&__item
		padding: 40px 0
		background-position: 50% 50%
		background-size: cover
		background-repeat: no-repeat
		min-height: 510px
		display: flex
		align-items: center
	&__ttl
		font-family: 'Museo900'
		text-transform: uppercase
		font-size: 45px
		margin-bottom: 30px
		max-width: 470px
	&__subttl
		font-family: 'Museo700'
		font-size: 24px
		max-width: 470px
	&__list
		margin: 20px 0
		padding-left: 0
		list-style-type: none
		max-width: 470px
		font-size: 16px
		li
			padding-left: 28px
			position: relative
			&:not(:last-child)
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 16px
				height: 1px
				background-color: #000
				left: 0
				top: 8px
	&__descr
		font-size: 16px
	.owl-carousel
		.owl-nav
			button.owl-prev
				left: 8%
			button.owl-next
				right: 8%
		.owl-dots
			bottom: 12px
			button.owl-dot.active
				background-color: #fff
	&__descr
		max-width: 470px
.news
	.section__subttl
		text-align: center
		font-size: 16px
		margin-bottom: 50px
		margin-top: -20px
	&__item
		width: 100%
		min-height: 230px
		display: flex
		flex-direction: column
		justify-content: space-between
		margin-bottom: 30px
		background-position: 50% 50%
		background-size: cover
		background-repeat: no-repeat
		padding: 20px
		position: relative
		overflow: hidden
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			background-color: #fff
			opacity: .4
		&-date
			position: relative
			padding-left: 25px
			font-size: 13px
			color: #000
			font-family: 'Museo500'
			position: relative
			z-index: 2
			transition: .6s all ease
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0px
				top: -1px
				width: 16px
				height: 17px
				background-position: 50% 50%
				background-size: contain
				background-repeat: no-repeat
			&::before
				background-image: url(../img/icon__date.png)
			&::after
				opacity: 0
				background-image: url(../img/icon__date_white.png)
		&-descr
			position: relative
			font-family: 'Museo500'
			color: #fff
			&::before
				content: ''
				position: absolute
				width: 130%
				height: 230%
				left: -20px
				right: -20px
				top: -19px
				bottom: 0
				opacity: .8
				transition: .6s all ease
			span
				position: relative
		&-wrp:nth-child(1) .news__item-descr::before
			background-color: #50B848
		&-wrp:nth-child(2) .news__item-descr::before
			background-color: #EE337B
		&-wrp:nth-child(3) .news__item-descr::before
			background-color: #00BFF3
		&-wrp:nth-child(4) .news__item-descr::before
			background-color: #FFCB05
		&-wrp:nth-child(5) .news__item-descr::before
			background-color: #50B848
		&-wrp:nth-child(6) .news__item-descr::before
			background-color: #EE337B
		&-wrp:nth-child(4) .news__item-descr
			color: #000
		&-wrp:hover .news__item
			box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69)
		&-wrp:hover .news__item-descr::before
			height: 370px
			top: -205px
		&-wrp:hover .news__item-date
			color: #fff
		&-wrp:hover .news__item-date::before
			opacity: .0
		&-wrp:hover .news__item-date::after
			opacity: 1
.cost
	&__ttl,
	&__price
		font-size: 18px
		color: #fff
		font-family: 'Museo900'
		text-align: center
		padding: 15px
	&__ttl
		display: flex
		align-items: center
		justify-content: center
		min-height: 80px
		text-transform: uppercase
	&__price
		margin-top: auto
	&__item
		height: 100%
		background-color: #F7F7F7
		display: flex
		flex-direction: column
		max-width: 320px
		margin-left: auto
		margin-right: auto
		&-wrp:nth-child(1) .cost__ttl,
		&-wrp:nth-child(1) .cost__price
			background-color: #00BFF3
		&-wrp:nth-child(2) .cost__ttl,
		&-wrp:nth-child(2) .cost__price
			background-color: #50B848
		&-wrp:nth-child(3) .cost__ttl,
		&-wrp:nth-child(3) .cost__price
			background-color: #EE337B
		&-wrp:nth-child(4) .cost__ttl,
		&-wrp:nth-child(4) .cost__price
			background-color: #FFCB05
			color: #000
	&__quick-info
		background-color: #F1F1F1
		padding: 15px
		font-size: 12px
		&>*:not(:last-child)
			display: block
			margin-bottom: 4px
	&__time,
	&__week
		position: relative
		padding-left: 22px
		font-size: 13px
		&::before
			content: ''
			position: absolute
			left: 0px
			top: 1px
			width: 14px
			height: 14px
			background-position: 50% 50%
			background-size: contain
			background-repeat: no-repeat
	&__time::before
		background-image: url(../img/icon__time.png)
	&__week::before
		background-image: url(../img/icon__date.png)
	&__list
		list-style-type: none
		padding: 15px
		background-color: #F7F7F7
		margin-bottom: 0
		li
			font-size: 13px
			padding-left: 20px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 8px
				height: 8px
				background-color: #EE414F
				left: 0
				top: 5px
				border-radius: 50%
	&__item
		&-wrp:nth-child(1) .cost__list li::before
			background-color: #00BFF3
		&-wrp:nth-child(2) .cost__list li::before
			background-color: #50B848
		&-wrp:nth-child(3) .cost__list li::before
			background-color: #EE337B
		&-wrp:nth-child(4) .cost__list li::before
			background-color: #FFCB05
.var
	background-color: #E5E5E5
	.section__ttl
		text-transform: none
	&__item
		&-wrp
			background-position: 50% 50%
			background-size: cover
			background-repeat: no-repeat
			padding: 8px
			max-width: 250px
			margin: 0 auto 15px
		&-in
			padding: 15px
			color: #fff
			font-family: 'Museo700'
			height: 100%
			display: block
		&-ttl
			font-family: 'Museo900'
			font-size: 16px
			text-transform: uppercase
			margin-bottom: 30px
			position: relative
			&::after
				content: ''
				position: absolute
				width: 100%
				height: 1px
				background-color: #fff
				bottom: -15px
				left: 0
		&-list
			&-item:not(:last-child)
				margin-bottom: 10px
		&-wrp:nth-child(1) .var__item-in
			background-color: #FFCB05a8
			color: #000
		&-wrp:nth-child(1) .var__item-ttl::after
			background-color: #000
		&-wrp:nth-child(2) .var__item-in
			background-color: #50B848e3
		&-wrp:nth-child(3) .var__item-in
			background-color: #00BFF3e3
		&-wrp:nth-child(4) .var__item-in
			background-color: #EE337Be3
		&-in:hover
			transform: scale(1.05)
			color: #fff
.avail
	background-color: #E5E5E5
	.section__ttl
		text-transform: none
	&-table
		width: 100%
		text-align: center
		&__wrp
			max-width: 420px
			margin-left: auto
			margin-right: auto
		td
			padding: 10px 13px
			border: 1px solid #fff
			color: #000
		th
			padding: 10px 13px
			border: 1px solid #fff
			color: #fff
		tr:first-child
			th
				font-family: 'Museo900'
		&__wrp:nth-child(1)
			th
				background-color: #FFCB05
				color: #000
			td
				color: #000
		&__wrp:nth-child(2)
			th
				background-color: #50B848
			.neg
				background-color: #50B8486e
				color: #000
		&__wrp:nth-child(3)
			th,
			.emp
				background-color: #00BFF3
			.neg
				background-color: #00BFF36e

		&__wrp:nth-child(4)
			th
				background-color: #EE337B
			.neg
				background-color: #EE337B6e
.team
	.section__ttl
		font-size: 28px
		a
			font-size: 14px
			margin-left: 35px
			letter-spacing: 0
			font-family: 'Museo300'
			color: #2D2A2B
			text-decoration: underline
			text-transform: none
			position: relative
			&::before
				content: ''
				position: absolute
				left: -15px
				top: 0
				height: 100%
				width: 1px
				background-color: #2D2A2B
			&:hover
				opacity: .8
	&__cnt
		padding-bottom: 30px
		.owl-stage
			display: flex
	&__item
		padding: 30px 15px
		background-color: #FFCB05
		position: relative
		min-height: 260px
		width: 210px
		color: #fff
		&_yellow
			background-color: #FFCB05
			color: #000
		&_blue
			background-color: #50B848
		&_red
			background-color: #00BFF3
		&_green
			background-color: #EE337B
		&-img
			width: 200px
			height: 287px
			background-position: left bottom
			background-size: contain
			background-repeat: no-repeat
			position: absolute
			left: -9px
			bottom: 0
		&-info
			display: none
			&-ttl
				font-family: 'Museo900'
				font-size: 22px
				text-transform: uppercase
				margin-bottom: 15px
				margin-top: 30px
			&-item:not(:last-child)
				margin-bottom: 8px
.owl-item.center .team__item
	padding-left: 200px
	width: 460px
.owl-item.center .team__item-info
	display: block
.feed
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #fff
		opacity: .8
	&__container
		position: relative
	&__form
		background-color: #FFCB05
		display: flex
		flex-direction: column
		justify-content: center
		padding: 45px 15px
		.input__wrp
			max-width: unset
		.btn
			margin-top: 30px
			background-color: #fff
			&:hover
				box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64)
	.section__ttl 
		text-align: left
		padding-left: 30px
.map
	overflow: hidden
	min-height: 440px
	&__container
		position: relative
	&__in
		position: absolute
		left: 15px
		top: 0
		background-color: #00BFF3
		padding: 45px 25px
		color: #fff
		min-width: 350px
		.section__ttl
			text-align: left
			color: #fff
			margin-bottom: 25px
			font-size: 35px
	&__item:not(:last-child)
		margin-bottom: 20px
	&__item
		padding-left: 25px
		&-ttl
			font-size: 16px
			font-family: 'Museo900'
			text-transform: uppercase
			position: relative
			margin-bottom: 5px
			&::before
				content: ''
				position: absolute
				left: -25px
				top: 0
				width: 16px
				height: 17px
				background-position: 50% 50%
				-webkit-background-size: contain
				background-size: contain
				background-repeat: no-repeat
				background-image: url(../img/icon__geo_white.png)
		&-descr
			text-decoration: underline
	.btn:hover
		box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64)
.footer
	background-color: #000000
	.main-logo
		&:hover
			transform: scale(1.05)
			opacity: .7
		img
			max-width: 200px
	&__item
		position: relative
		padding-left: 25px
		font-size: 13px
		color: #fff
		&::before
			content: ''
			position: absolute
			left: 0px
			top: 0px
			width: 16px
			height: 17px
			background-position: 50% 50%
			background-size: contain
			background-repeat: no-repeat
		&_geo::before
			background-image: url(../img/icon__geo_white.png)
		&_time::before
			background-image: url(../img/icon__time_white.png)
		&_mes::before
			background-image: url(../img/icon__mes_white.png)
		&_mes
			a
				color: #fff
				text-decoration: underline
	&__tel
		font-family: 'Museo700'
		color: #fff
		font-size: 29px
	&__soc
		width: 39px
		height: 39px
		display: flex
		justify-content: center
		align-items: center
		border: 1px solid #fff
		margin: 5px
		&:hover
			background-color: #00BFF3
			border-color: #00BFF3
.crumbs
	display: flex
	flex-wrap: wrap
	list-style-type: none
	padding-left: 0
	margin-left: 0
	margin-bottom: 25px
	li,
	a
		position: relative
	li:not(:last-child)
		margin-right: 26px
		text-decoration: underline
		
		&::after
			content: '>'
			position: absolute
			right: -16px
			top: 0
			font-size: 14px
.contacts
	&__ttl
		text-align: left
	&__item-wrp:not(:last-child)
		margin-bottom: 30px
	&__info
		&-item
			position: relative
			padding-left: 25px
			font-size: 13px
			margin-bottom: 18px
			&::before
				content: ''
				position: absolute
				left: 0px
				top: 0px
				width: 12px
				height: 17px
				background-position: 50% 50%
				background-size: contain
				background-repeat: no-repeat
			&_time::before
				background-image: url(../img/icon__time.png)
			&_tel
				font-size: 16px
				font-family: 'Museo900'
				color: #000
			&_tel::before
				top: 3px
				background-image: url(../img/icon__form-tel.png)
			&_mes::before
				opacity: .7
				background-image: url(../img/icon__form-mes.png)
			&_mes
				a
					// color: #fff
					text-decoration: underline
			&_top
				display: flex
				flex-direction: column
				span:nth-child(1)
					font-size: 18px
					font-family: 'Museo900'
					text-transform: uppercase
					position: relative
					margin-bottom: 5px
					color: #00BFF3
				span:nth-child(2)
					font-size: 16px
					text-decoration: underline
				&::before
					top: 3px
					background-image: url(../img/icon__geo.png)
	&__map
		iframe
			border: 1px solid #ccc
@import "media"